body {
	 font-family: -apple-system, system-ui, BlinkMacSystemFont, ui-sans-serif;
    font-size: 20px;
    background-color: #24262b;
    color: #ffffff;
}
a {
    color: #a9c6f0;
}
strong {
	font-weight: 550;
}
h1 {
	font-weight: 500;
}
